body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.search-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 5px;
    height: 4%;
    width: 100%;
}

.search-input{
    width: 50%;
    justify-content: center;
    background-color: antiquewhite;
    border: 1px solid burlywood;
}

.common {
    border : 0px;
    background-color: blanchedalmond;
    margin-right: 5px;
    font-size: 15px;;
}

.searchBtn{
    background-color: tomato;
    border: tomato;
    font-size: 15px;
    margin-left: 1%;
    border-radius: 5px;
}


.header
{
    display: flex;
    justify-content: space-between;
    background-color: blanchedalmond;
    border: 1px solid burlywood;
}

.nav-items > ul
{
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li 
{
    padding: 10px;
}

#logo
{  
    width: 80px;
    mix-blend-mode: multiply;
}

.card 
{
    width: 200px;
    background-color: wheat;
    padding: 10px;
    border: 1px solid burlywood;
    margin-top: 5px;
}

.card > img 
{
    width: 100%;
    display: flex;
}

.restaurant-list 
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer{
    margin-top: 5px;
    background-color: blanchedalmond;
    border: 1px solid burlywood;
}

.footerText{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons > a{
    margin-left: 10px;
}